<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="swiper-slide" style="background-image:url(img/IMG_0110.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO160</span><em></em>F6.3<em></em>1/640sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0132.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F5.6<em></em>1/800sec  </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0410.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO160</span><em></em>F6.3<em></em>1/640sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0581.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F5.6<em></em>1/500sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0661.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO160</span><em></em>F5.6<em></em>1/1600sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0716.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F8<em></em>1/800sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0816.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F7.1<em></em>1/200sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1152.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.0<em></em>1/10sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1522.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.0<em></em>0.3sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1586.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F3.5<em></em>1/40sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1643.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO320</span><em></em>F2.8<em></em>1/15sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1886.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F1.8<em></em>1/2000sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1935.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.8<em></em>1/2000sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1941.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.5<em></em>1/1250sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1986.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F3.2<em></em>1/640sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0110.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F5.0<em></em>1/500sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0132.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F5.6<em></em>1/800sec  </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0410.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.5<em></em>1/2000sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0581.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F6.3<em></em>1/1000sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0661.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F9<em></em>1.6sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0716.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.5<em></em>1/25sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0816.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO800</span><em></em>F3.5<em></em>1/30</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1152.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.5<em></em>1/50sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1522.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.0<em></em>1/125sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1586.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.8<em></em>1/2000sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1643.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.0<em></em>1/5sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1886.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.8<em></em>1/8sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1935.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F11<em></em>20.0sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1941.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F7.1<em></em>1/500sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_1986.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.2<em></em>1/320sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0110.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.0<em></em>1/400sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0132.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F6.3<em></em>0.8sec  </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0410.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.8<em></em>1/200sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0581.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.5<em></em>1/1250sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0661.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.2<em></em>1/320sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0716.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.8<em></em>1/4sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0816.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO800</span><em></em>F2.8<em></em>1/30sec</p>
            </div>
        </div>

        <div class="swiper-slide" style="background-image:url(img/IMG_0110.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F4.5<em></em>1/40sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0132.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F11<em></em>6.0sec  </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0410.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F11<em></em>6.0sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0581.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F10<em></em>1.0sec</p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0661.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F11<em></em>15.0sec </p>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(img/IMG_0716.jpg)">
            <div class="picture_info">
                <p><span>拍摄器材</span><em></em><img src="img/gallerycamara_name2.png" alt=""></p>
                <p><span>ISO125</span><em></em>F2.8<em></em>1.0sec</p>
            </div>
        </div>
</body>
</html>